<mat-card class="example-card" *ngIf="empleado">
    <mat-card-header class="empleado_header_wrap">
        <mat-card-title class="empleado_header_text">{{ empleado.nombre + ' ' + empleado.apellido }}</mat-card-title>
        <mat-card-subtitle class="empleado_header_text">{{ empleado.email }}</mat-card-subtitle>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="empleado_button button_delete">
            <mat-icon>delete</mat-icon>
          </button>
        
        
    </mat-card-header>
    <mat-card-content class="empleado_information_wrap">
        <mat-expansion-panel>
            <mat-expansion-panel-header class="empleado_personal-info_expasion-panel">
              <mat-panel-title>
                Empleado
              </mat-panel-title>
              <mat-panel-description class="personal-info_expasion-panel_description">
                Informacion Personal
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="description">
                <h4 class="ng-tns-c16-1">Nombre: {{ empleado.nombre + ' ' + empleado.apellido }}</h4>
                <h4>Dni: {{empleado.nroDocumento}}</h4>
                <h4>Fecha Nacimiento: {{empleado.fechaNacimiento}}</h4>
                <h4>Fecha Ingreso: {{empleado.fechaIngreso}}</h4>
                <h4>Fecha Creacion: {{empleado.fechaCreacion}}</h4>
                <div class="action_button_wrap">
                    <button mat-fab color="primary" aria-label="Example icon button with a edit icon" class="empleado_button">
                        <mat-icon >edit</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="empleado_personal-info_expasion-panel">
              <mat-panel-title>
                Jornadas
              </mat-panel-title>
              <mat-panel-description class="personal-info_expasion-panel_description">
                Jornadas Realizadas
                <mat-icon fontIcon="calendar_month">
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="description" >
                <div class="action_button_wrap">
                    <button mat-fab color="primary" aria-label="Example icon button with a add icon" class="empleado_button">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>