<table mat-table [dataSource]="listEmpleados" class="tabla_empleados" *ngIf="!loading">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let empleado"> {{empleado.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nroDocumento">
      <th mat-header-cell *matHeaderCellDef> DNI </th>
      <td mat-cell *matCellDef="let empleado"> {{empleado.nroDocumento}} </td>
    </ng-container>

    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let empleado"> {{ empleado.nombre + ' ' + empleado.apellido }} </td>
    </ng-container>
  
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let empleado"> {{empleado.email}} </td>
    </ng-container>

    <ng-container matColumnDef="conceptop">
        <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
        <td mat-cell *matCellDef="let empleado"> {{empleado.fechaIngreso}} </td>
    </ng-container>

    <ng-container matColumnDef="hsTrabajadas">
        <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
        <td mat-cell *matCellDef="let empleado"> {{empleado.fechaNacimiento}} </td>
    </ng-container>


    <ng-container matColumnDef="fechaCreacion">
        <th mat-header-cell *matHeaderCellDef> Fecha Creacion </th>
        <td mat-cell *matCellDef="let empleado"> {{empleado.fechaCreacion}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="nombreColumnas"></tr>
    <tr mat-row *matRowDef="let row; columns: nombreColumnas;"></tr>
</table>
  
  
  
